#bg{
    background-color: rgb(82, 177, 255);;
    min-height: 250px;
    max-height: 600px;
    min-width: 250px;
    max-width: 600px;  
    border-radius: 5%;
    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%);
}

#logo{
    width: 30%;
    height: 90%;
    margin-left: 50%;
    transform: translate(-50%);
}

.label{
    color: rgb(0, 0, 0);
    font-size: 14pt;
}

#email{
    width: 45%;
}

#senha{
    width: 44%;
}