header {
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(82, 177, 255);
}

h1{
    text-align: center;
}

h2{
    color: white;
}

h5{
    color: black;
}

p{
    color: black;
}

#nome{
    font-size: 130%;
    text-align: center;
    padding-top: 7%;
}

#btn_cad{
    margin-top: 5%;
    margin-bottom: 1%;
}

#btn_login{
    margin-top: 5%;
    margin-bottom: 1%;
}

a.navbar {
    color: rgb(255, 255, 255);
    font-weight: 150%;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    margin-left: 50%;
    transform: translate(-50%);
}

#img_carrosel{
    height: 2000px;
    width: 600px;
    
    

}