header {
    text-align: center;
    background-color: rgb(82, 177, 255);
    width: 100%;
}

h2{
    color: white;
}

h5{
    color: black;
}

p{
    color: black;
}

#nome{
    margin-top: 20%;
}

#Services{
    color: rgb(0, 13, 199);
}

#btn_cad{
    margin-top: 20%;
}

#btn_login{
    margin-top: 20%;
}

img.logo{
    height: 100%; 
    width: 45%;
}

a.navbar {
    color: rgb(255, 255, 255);
    font-weight: 150;
    font-family:Arial, Helvetica, sans-serif;
    width: 5%;
    text-align: center;
    margin-left: 50%;
}